/*Elementos comunes a todos los elementos */
* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	box-sizing: border-box;
}	

body {
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
}

a {text-decoration: none;}
a:hover {text-decoration: none;}

/*Estilos del sitio*/

.decision {
	display: flex;
	justify-content: flex-end;
	background-color: black;
	padding-right: 2em; 
}

.button {
    border: 0;
    line-height: 2.5;
    padding: 0 5px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
}

.encabezado {
	background: #0066cc;
	color: #ffffff;
	padding: 0 1em;
}

.logo {
	margin: 0.5em;
}

main {
	margin: 2em;
}

h3 {
	text-align: center;
	margin: 1em;
}

p {
	text-align: justify;
	margin-bottom: 0.25em;
}